:root {
  --green: #5ed68a;
  --blue: #1ea6c8;
  --background: #fafafa;
}

html {
  font-size: 12px;
}

main {
  text-align: center;
  background: var(--background);
  border: solid var(--blue);
  border-width: 8px;
  border-radius: 2rem;
  padding: 4em;
  color: #1f3233;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-size: 1.8rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
  background: var(--green);
  padding: 1.2em;
  margin-top: 40px;
  border-radius: 0;
  font-size: 1.4rem;
}

button:last-child {
  background: var(--blue);
}

/* game screen */

input {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #1ea6c8;
  background: transparent;
  padding: 0.7rem;
  width: 10rem;
  text-align: center;
  font-size: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info span {
  font-size: 1.6rem;
}

#newGameButton {
  border-radius: 15px;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}